@{
	ViewBag.Title = "Confirm Email";
}

<h2 class="text-center">Email Confirmation Sent</h2>
<div class="row">
	<div class="col-md-12 text-center">
		<p>
			An email has been sent to the account you entered. Please click the link within to confirm your address.
		</p>
	</div>
</div>