
@{
    ViewBag.Title = "Message Sent";
}

<h2 class="text-center">Message Sent</h2>
<div class="row">
	<div class="col-md-12 text-center">
		<p>
			Your message has been sent. You may @Html.ActionLink("click here", "Index") to return to home.
		</p>
	</div>
</div>
